// HEADINGS
.h1{
    font-size: clamp(1.8rem, 5vw, 3rem) !important;
    font-weight: normal;
    letter-spacing: -1px;
}

#intro{
    font-weight: 600;

    .font-stack-1{
        position: relative;

        .feather{
            position: absolute;
            right: -29px;
            bottom: -4px;
        }
    }

    code{
        font-family: $font-stack;
    }
}
// HEADINGS

// BORDERS
.rounded{
    border-radius: $card-radius !important;
}

.rounded-top{
    border-top-left-radius: 50% !important;
    border-top-right-radius: 50% !important;
}
// ENDS HERE

// NAVIGATION
.navbar{
    .navbar-brand{
        border: none;
        background-color: transparent;
        outline: none;
    }
    
    .nav-link{
        outline: none;
        border: none;
        background-color: transparent;
        font-size: $font-size;

        &:hover{
            color: $primary !important;
        }
    }
}

.active{
    color: $primary !important;
    font-weight: 600;
}
// ENDS HERE

// BUTTONS
.btn{
    border-radius: $radius !important;
    padding: 10px 25px;
    font-weight: 500;
    font-size: $font-size !important;
}
// ENDS HERE

// CARDS
.card{
    border-radius: $card-radius !important;
    border: $border;
    background-color: $saturated_primary;
    
    .card-header{
        border: none;
        background-color: transparent;
    }

    .card-footer{
        border: none;
        background-color: transparent;
    }
}
// ENDS HERE

// FONT
.font-weight-bolder{
    font-weight: 800 !important;
}
// ENDS HERE

// BADGE
.badge{
    background-color: #eee;
    color: $dark;
    font-weight: 500;
    font-size: 0.688rem;
    border: $border;
    border-radius: $radius;
}
// ENDS HERE

// FORMS
.input-group{
    .form-control{
        width: 100%;
        border-radius: $card-radius !important;
    }
    
    .invalid-feedback{
        font-weight: 500 !important;
    }
}
// ENDS HERE