$primary:       #fb9300 !default;
$secondary:     #e2f3eb !default;
$success:       #20c997 !default;
$info:          #03a9f4 !default;
$warning:       #ff9800 !default;
$danger:        #dc3545 !default;
$light:         #f8f9fa !default;
$dark:          #131b23 !default;

$theme-colors: (
    'primary': $primary,
    'secondary': $secondary,
    'success': $success,
    'info': $info,
    'warning': $warning,
    'danger': $danger,
    'light': $light,
    'dark': $dark,
);

$font-family: 'Montserrat', sans-serif;

$light-shadow: 20px 20px 60px #d3d4d5, -20px -20px 60px #ffffff;
$dark-shadow: 20px 20px 60px #0e141a, -20px -20px 60px #18222c;

$border: .0625rem solid rgba(231,234,243,.7);
$radius: 20px; //.75rem;
$font-size-base: .9rem;
$line-height-base: 1.6;

$saturated-red: #ff781611;
$saturated-blue: #2196f311;
$saturated-violet: #563d7c11;
$saturated-yellow: #f7df1e11;