$primary:       #14a800 !default;
$light:         #f8f9fa !default;
$dark:          #131b23 !default;

$theme-colors: (
    'primary': $primary,
    'light': $light,
    'dark': $dark
);

$font-family: 'Poppins', 'Montserrat', sans-serif;
$secondary-font: 'Libre Baskerville', 'Poppins', 'Montserrat', sans-serif;

$light-shadow: 20px 20px 60px #d3d4d5, -20px -20px 60px #ffffff;
$dark-shadow: 20px 20px 60px #0e141a, -20px -20px 60px #18222c;

$border: .0625rem solid rgba(231,234,243,.7);
$radius: 5px; // .75rem;
$line-height-base: 1.6;

$drop-shadow: 1px 3px 0 rgba(0, 0, 0, 0.2);
$drop-shadow__hovered: 1px 5px 0 rgba(0,0,0,0.2);
$drop-shadow__active: 1px 1px 0 rgba(0,0,0,0.2);

$text-shadow: 3px 8px 4px rgba(0, 0, 0, 0.2);

$saturated-primary: #eff9ee;