/* SCSS HEX */
/* SCSS Gradient */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  line-height: 1.6 !important;
  font-family: "Poppins", sans-serif !important;
  font-size: 0.9rem !important;
  font-weight: normal !important;
  position: relative;
  overflow-x: hidden;
  color: #515b3a !important;
}

.font-raleway {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
}

.font-raleway-override {
  font-family: "Raleway", sans-serif !important;
  font-size: 2rem !important;
  font-weight: 800 !important;
}

.font-poppins {
  font-family: "Poppins", sans-serif !important;
  font-size: 2rem !important;
  font-weight: 400;
}

.font-prompt {
  font-family: "Prompt", sans-serif !important;
  font-size: 1.1rem !important;
  font-weight: 300;
}

.bg-white {
  background-color: #fefefe !important;
}

.bg-primary {
  background-color: #6ba368 !important;
}

.bg-light {
  background-color: #9cfc97 !important;
}

.bg-secondary {
  background-color: #353d2f !important;
}

.bg-dark {
  background-color: #515b3a !important;
}

.text-white {
  color: #fefefe !important;
}

.text-primary {
  color: #6ba368 !important;
}

.text-light {
  color: #9cfc97 !important;
}

.text-dark {
  color: #515b3a !important;
}

.btn-new-primary {
  background-color: #6ba368 !important;
  border: 1px solid #6ba368 !important;
  color: #f3f3f3;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.btn-new-primary:hover {
  color: #f3f3f3 !important;
  background-color: #507e4e !important;
}

.btn-new-primary:active {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(107, 163, 104, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(107, 163, 104, 0.25);
}

.navbar-brand {
  font-weight: 600 !important;
  font-size: 1rem !important;
}

.nav-link {
  font-weight: 600 !important;
}

.active {
  color: #6ba368 !important;
}

.clip-path {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-clip-path: polygon(31% 0%, 6% 25%, 1% 64%, 11% 93%, 36% 100%, 85% 91%, 100% 64%, 92% 5%);
          clip-path: polygon(31% 0%, 6% 25%, 1% 64%, 11% 93%, 36% 100%, 85% 91%, 100% 64%, 92% 5%);
}

.card-deck .card {
  overflow: hidden;
  -webkit-transition: all .4s ease !important;
  transition: all .4s ease !important;
  border-radius: 0.75rem !important;
  -webkit-box-shadow: 0 10px 40px 10px rgba(140, 152, 164, 0.175) !important;
          box-shadow: 0 10px 40px 10px rgba(140, 152, 164, 0.175) !important;
}

.img-fluid-extension {
  -o-object-fit: fill;
     object-fit: fill;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.img-fluid-extension:hover {
  -webkit-animation-name: float;
          animation-name: float;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.media-icons {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px !important;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border-radius: 2px;
  color: #515b3a;
}

.media-icons:hover {
  -webkit-animation-name: float;
          animation-name: float;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.media-icon-facebook:hover {
  background-color: #38529a !important;
  color: #fff;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(56, 82, 154, 0.7);
          box-shadow: 0px 0px 10px 5px rgba(56, 82, 154, 0.7);
}

.media-icon-linkedin:hover {
  background-color: #028bc8 !important;
  color: #fff;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(2, 139, 200, 0.7);
          box-shadow: 0px 0px 10px 5px rgba(2, 139, 200, 0.7);
}

.media-icon-github:hover {
  background-color: #6c757d !important;
  color: #fff;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(108, 117, 125, 0.7);
          box-shadow: 0px 0px 10px 5px rgba(108, 117, 125, 0.7);
}

.list-group-item {
  background-color: transparent !important;
  border: none !important;
}

.list-group-item a {
  text-decoration: none;
  color: #e6fafc;
}

.quote-rotate {
  text-shadow: -1px 7px 3px #000;
}

footer {
  background-color: #353d2f;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: #353d2f;
}

::-webkit-scrollbar-thumb {
  background-color: #9cfc97;
  border-radius: 0.75rem;
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translateY(-2%);
            transform: translateY(-2%);
  }
  20% {
    -webkit-transform: translateY(-4%);
            transform: translateY(-4%);
  }
  40% {
    -webkit-transform: translateY(-6%);
            transform: translateY(-6%);
  }
  60% {
    -webkit-transform: translateY(-8%);
            transform: translateY(-8%);
  }
  80% {
    -webkit-transform: translateY(-6%);
            transform: translateY(-6%);
  }
  90% {
    -webkit-transform: translateY(-4%);
            transform: translateY(-4%);
  }
  100% {
    -webkit-transform: translateY(-2%);
            transform: translateY(-2%);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translateY(-2%);
            transform: translateY(-2%);
  }
  20% {
    -webkit-transform: translateY(-4%);
            transform: translateY(-4%);
  }
  40% {
    -webkit-transform: translateY(-6%);
            transform: translateY(-6%);
  }
  60% {
    -webkit-transform: translateY(-8%);
            transform: translateY(-8%);
  }
  80% {
    -webkit-transform: translateY(-6%);
            transform: translateY(-6%);
  }
  90% {
    -webkit-transform: translateY(-4%);
            transform: translateY(-4%);
  }
  100% {
    -webkit-transform: translateY(-2%);
            transform: translateY(-2%);
  }
}

@media only screen and (max-width: 767px) {
  .tablet-mode-md {
    width: 100% !important;
    display: block !important;
    margin-bottom: 25px !important;
  }
}
/*# sourceMappingURL=style.css.map */