@import '_variables.scss';

@import '../../plugins/bootstrap/scss/bootstrap.scss';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    background-color: $body-bg;   
    font-family: $font-family;
    overflow-x: hidden;
    color: $dark;
}

@import '_overwrite.scss';
@import '_custom.scss';

@import '_breakpoint.scss';