@font-face {
    font-family: "Euclid Circular A Regular";
    src: url("../fonts/euclid-circular-a-woff2/EuclidCircularA-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Euclid Circular A Medium";
    src: url("../fonts/euclid-circular-a-woff2/EuclidCircularA-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Euclid Circular A SemiBold";
    src: url("../fonts/euclid-circular-a-woff2/EuclidCircularA-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}