@font-face {
    font-family: "Euclid Circular A Regular";
    src: url("../fonts/euclid-circular-a/Euclid Circular A Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Euclid Circular A Medium";
    src: url("../fonts/euclid-circular-a/Euclid Circular A Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Euclid Circular A SemiBold";
    src: url("../fonts/euclid-circular-a/Euclid Circular A SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}